*{
    margin: 0;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #0d7af7b8;
    color: black;
}


.tanjiro {
    width: 100%;
    height: 600px;
    background-image: url(./img/tanjiro.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}






.sideimage {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.sidetext {
    max-width: 400px;
    hover: 

}

.flexcontainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ce1b1b;  
    color: white;  
   
}



